.main{
    margin:15px;
    display: flex;
    flex-direction: row;
    border-color:black;
    height: 550px;
  }
  .image{
    width:50%;
    /* overflow: hidden; */
    margin:5px;
  }
  .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10rem;
    padding-left: 8rem;
    width: 50%;
  }

  button{
    width:300px;
    border-radius: 5px;
    cursor: pointer;
  }
  